input{
	font-size:inherit;
}
body{
	font-size:200%;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	text-align:center;
}
body:before{
/*  content:"gitFlick"; */
	font-size:5em;
	font-weight:bold;
	color:white;
	z-index:0;
	top:15%;
	max-width:100%;
	left:0;
	right:0;
	color:rgba(255,255,255,0.3);
	position:fixed;
}


}

	header,footer{
		box-shadow:0 0 30px black;
		-webkit-transition:height 1s,background-color 1s;-moz-transition:height 1s,background-color 1s;-ms-transition:height 1s,background-color 1s;-o-transition:height 1s,background-color 1s;transition:height 1s,background-color 1s;
		background-color:rgba(255,255,255,0.6); 
		position:fixed;
		left:0;
		right:0;
		height:50%;
		z-index:10;
	} 


		header form{
			
		}
			header input{
				position:absolute;
				min-height: 0px;
				font-size:1.2em;
				top:13%;
				max-width:100%;
			}

	body > ul {
		z-index:1;
		padding:0;
		margin:10% 0;
		padding-bottom:15%;
		position:absolute;
	} 
		ul li{
			margin:0;
			padding:0;
			display:inline-block;
			text-align:justify;
			line-height:1em;
			position:relative;
		}


/***searching***/

	.results header,
	.results footer{
	/*	background-color:rgba(0,0,0,0.2);*/
		-webkit-transition:height 1s;-moz-transition:height 1s;-ms-transition:height 1s;-o-transition:height 1s;transition:height 1s;
		height:10%;
		min-height:30px;
	}
	.results footer{
		height:auto;
	}
